<style>
    body {
        background-color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 6px;

    }

    a {
        color: black;
        text-decoration: none;
    }
</style>

<div>
    <h1>Welcome to Kuisine</h1>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; column-gap: 4px;">
        <button><a href="studentlogin">Login (Student)</button>
        <button><a href="stafflogin">Login (Staff)</button>
    </div>
    <button><a href="register">Register</button>
</div>